/build*
/install*
/docker_build
tags
TAGS
.vscode
.idea
compile_commands.json
.cache/
#*
*~
.DS_Store
__pycache__
lit.site.cfg.py

# Pip artifacts
/lib/Bindings/Python/build
*.egg-info
*.whl

# External software
/ext

# LLVM subprojects not needed for CIRCT
# NOTE: This is not necessary as they are in a submodule, but this helps
#       optimize LLM context indexing.
/llvm/bolt
/llvm/clang-tools-extra
/llvm/compiler-rt
/llvm/cross-project-tests
/llvm/flang
/llvm/flang-rt
/llvm/libc
/llvm/libclc
/llvm/libcxx
/llvm/libcxxabi
/llvm/libsycl
/llvm/libunwind
/llvm/lld
/llvm/lldb
/llvm/llvm-libgcc
/llvm/offload
/llvm/openmp
/llvm/orc-rt
/llvm/polly
/llvm/runtimes
/llvm/third-party
