name: Build and Test

on: [push, pull_request]

jobs:
  build-llvm:
    name: Build LLVM
    runs-on: ubuntu-latest
    steps:
    - name: Configure Environment
      run: echo "::add-path::$GITHUB_WORKSPACE/llvm/install/bin"
    - name: Get CIRCT
      uses: actions/checkout@v2
      with:
        submodules: 'true'
    - name: Get LLVM Hash
      id: get-llvm-hash
      run: echo "::set-output name=hash::$(git rev-parse @:./llvm)"
      shell: bash
    - name: Cache LLVM
      id: cache-llvm
      uses: actions/cache@v2
      with:
        path: llvm
        key: ${{ runner.os }}-llvm-install-${{ steps.get-llvm-hash.outputs.hash }}
    - name: Rebuild and Install LLVM
      if: steps.cache-llvm.outputs.cache-hit != 'true'
      run: |
        mkdir llvm/build
        mkdir llvm/install
        cd llvm/build
        cmake ../llvm -DLLVM_BUILD_EXAMPLES=OFF -DLLVM_TARGETS_TO_BUILD="host" -DCMAKE_INSTALL_PREFIX=../install -DLLVM_ENABLE_PROJECTS='mlir' -DLLVM_OPTIMIZED_TABLEGEN=ON -DLLVM_ENABLE_OCAMLDOC=OFF -DLLVM_ENABLE_BINDINGS=OFF -DLLVM_INSTALL_UTILS=ON -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DLLVM_ENABLE_LLD=ON -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ASSERTIONS=ON
        cmake --build . --target install -- -j$(nproc)
  build:
    name: Build and Test
    needs: build-llvm
    runs-on: ubuntu-latest
    steps:
    - name: Configure Environment
      run: echo "::add-path::$GITHUB_WORKSPACE/llvm/install/bin"
    - name: Get CIRCT
      uses: actions/checkout@v2
      with:
        fetch-depth: 2
        submodules: 'true'
    - name: Install clang-tidy
      run: |
          sudo apt-get install -y clang-tidy-9
          sudo update-alternatives --install /usr/bin/clang-tidy clang-tidy /usr/bin/clang-tidy-9 100
    - name: Get LLVM Hash
      id: get-llvm-hash
      run: echo "::set-output name=hash::$(git rev-parse @:./llvm)"
      shell: bash
    - name: Cache LLVM
      id: cache-llvm
      uses: actions/cache@v2
      with:
        path: llvm
        key: ${{ runner.os }}-llvm-install-${{ steps.get-llvm-hash.outputs.hash }}
    - name: Rebuild and Install LLVM
      if: steps.cache-llvm.outputs.cache-hit != 'true'
      run: |
        mkdir llvm/build
        mkdir llvm/install
        cd llvm/build
        cmake ../llvm -DLLVM_BUILD_EXAMPLES=OFF -DLLVM_TARGETS_TO_BUILD="host" -DCMAKE_INSTALL_PREFIX=../install -DLLVM_ENABLE_PROJECTS='mlir' -DLLVM_OPTIMIZED_TABLEGEN=ON -DLLVM_ENABLE_OCAMLDOC=OFF -DLLVM_ENABLE_BINDINGS=OFF -DLLVM_INSTALL_UTILS=ON -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DLLVM_ENABLE_LLD=ON -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ASSERTIONS=ON
        cmake --build . --target install -- -j$(nproc)
    - name: Build and Test CIRCT (Assert)
      run: |
        mkdir build_assert
        cd build_assert
        cmake .. -DCMAKE_BUILD_TYPE=Debug -DLLVM_ENABLE_ASSERTIONS=ON -DMLIR_DIR=../llvm/install/lib/cmake/mlir/ -DLLVM_DIR=../llvm/install/lib/cmake/llvm/ -DCMAKE_LINKER=lld -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DLLVM_EXTERNAL_LIT=`pwd`/../llvm/build/bin/llvm-lit -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
        make check-circt -j$(nproc)
    - name: Build and Test CIRCT (Release)
      run: |
        mkdir build_release
        cd build_release
        cmake .. -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ASSERTIONS=OFF -DMLIR_DIR=../llvm/install/lib/cmake/mlir/ -DLLVM_DIR=../llvm/install/lib/cmake/llvm/ -DCMAKE_LINKER=lld -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DLLVM_EXTERNAL_LIT=`pwd`/../llvm/build/bin/llvm-lit
        make check-circt -j$(nproc)

    - name: choose-commit
      if: ${{ always() }}
      env:
        PR_BASE: ${{ github.event.pull_request.base.sha }}
      run: |
        # Run clang-format
        if [[ -z "$PR_BASE" ]]; then
          DIFF_COMMIT="HEAD^"
        else
          DIFF_COMMIT="$PR_BASE"
        fi
        echo "DIFF_COMMIT=$DIFF_COMMIT" >> $GITHUB_ENV
    - name: git fetch base commit
      run: |
        git fetch origin $DIFF_COMMIT
    - name: clang-format
      if: ${{ always() }}
      run: |
        # Run clang-format
        git clang-format-9 $DIFF_COMMIT
        git diff --ignore-submodules > clang-format.patch
        if [ -s clang-format.patch ]; then
          echo "Clang-format found formatting problems in the following files. See diff in the clang-format.patch artifact."
          git diff --ignore-submodules --name-only
          git checkout .
          exit 1
        fi
        echo "Clang-format found no formatting problems"
        exit 0
    - name: clang-tidy
      if: ${{ always() }}
      run: |
        git diff -U0 $DIFF_COMMIT | clang-tidy-diff-9.py -path build_assert -p1 -fix
        git diff --ignore-submodules > clang-tidy.patch
        if [ -s clang-tidy.patch ]; then
          echo "Clang-tidy problems in the following files. See diff in the clang-tidy.patch artifact."
          git diff --ignore-submodules --name-only
          git checkout .
          exit 1
        fi
        echo "Clang-tidy found no problems"
        exit 0
    - name: Upload format and tidy patches
      uses: actions/upload-artifact@v2
      continue-on-error: true
      if: ${{ failure() }}
      with:
        name: clang-format-tidy-patches
        path: clang-*.patch
    # Unfortunately, artifact uploads are always zips so display the diff as well
    - name: clang format and tidy patches display
      if: ${{ failure() }}
      continue-on-error: true
      run: |
        # Display patches
        if [ ! -z clang-format.patch ]; then
          echo "Clang-format patch"
          echo "================"
          cat clang-format.patch
          echo "================"
        end
        if [ ! -z clang-tidy.patch ]; then
          echo "Clang-tidy patch"
          echo "================"
          cat clang-tidy.patch
          echo "================"
        end
